@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

#screen {
    width: 380px;
    background-color: whitesmoke;
    margin: auto;
    padding-top: 18px;
    padding-bottom: 100px;
}

#userInputTitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding: 10px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 24px;
    padding-bottom: 4px;
    margin-left: 12px;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
    padding-bottom: 4px;
    margin-left: 12px;
}

h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding-bottom: 4px;
    margin-left: 12px;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 12;
    padding-bottom: 4px;
    margin-left: 12px;
}

.altActivityImg {
    width: 356px;
    height: 200px;
    object-fit: cover;
    padding-inline: 12px;
}

#slider {
    padding: 10px;
    margin-left: 10px;
    background: #fcfcfc;
    width: 330px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    box-shadow: 0px 5px 5px #7E6D5766;
}

#slider label {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    padding-left: 5px;
    color: black;
}

#slider input[type="range"] {
    margin-left: 15px;
    width: 320px;
    height: 2px;
    background: black;
    border: none;
    outline: none;
}

#userGoals {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding-left: 10px;
    margin-bottom: 10px;
}

#goalsDiv {
    padding-left: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

#saveBtn {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

#saveDiv {
    padding-left: 15px;
    padding-top: 15px;
}